<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= errors %>
    <% if logged_in? %>
      <h3><%= "Welcome #{current_user.email}!" %></h3>
    <% end %>
  </header>

  <%= yield %>

  <footer style="margin-top:100px">
    <%= link_to "All Subs", subs_url, method: :get %>
    <%= render "layouts/login_logout" %>
  </footer>
</body>
</html>
