<li>
  <%= link_to post.title, post_url(post) %>,
  <%= link_to post.author.email, user_url(post.author) %>


  <a href="<%= post.url %>"><%= post.url %></a><br>
  <%= post.content %>

  <% if post.author == current_user %>
    <br><%= link_to "edit", edit_post_url(post) %>
    <%= link_to "delete", post_url(post), method: :delete %>
  <% end %>
</li>
